<div class="container" id="realContainer">
  <!--0Anchor-->
  <div class="row pinyin">
    <div class="text">わたし<span class="cursor"></span></div>
    <div class="hidden-pinyin">watashi</div>
  </div>
  <!--1Anchor-->
  <div class="row-wrapper first-row-wrapper">
    <div class="row cand first">
      <div class="text"><span class="num">1</span>私<span class="cand-helpcode">(わたし)</span></div>
    </div>
  </div>
  <!--2Anchor-->
  <div class="row-wrapper">
    <div class="row cand">
      <div class="text"><span class="num">2</span>わたし<span class="cand-helpcode">(わたし)</span></div>
    </div>
  </div>
  <!--3Anchor-->
  <div class="row-wrapper">
    <div class="row cand">
      <div class="text"><span class="num">3</span>渡し<span class="cand-helpcode">(わたし)</span></div>
    </div>
  </div>
  <!--4Anchor-->
  <div class="row-wrapper">
    <div class="row cand">
      <div class="text"><span class="num">4</span>綿<span class="cand-helpcode">(わたし)</span></div>
    </div>
  </div>
  <!--5Anchor-->
  <div class="row-wrapper">
    <div class="row cand">
      <div class="text"><span class="num">5</span>私し<span class="cand-helpcode">(わたし)</span></div>
    </div>
  </div>
  <!--6Anchor-->
  <div class="row-wrapper">
    <div class="row cand">
      <div class="text"><span class="num">6</span>渡<span class="cand-helpcode">(わた)</span></div>
    </div>
  </div>
  <!--7Anchor-->
  <div class="row-wrapper">
    <div class="row cand">
      <div class="text"><span class="num">7</span>詫び<span class="cand-helpcode">(わび)</span></div>
    </div>
  </div>
  <!--8Anchor-->
  <div class="row-wrapper">
    <div class="row cand">
      <div class="text"><span class="num">8</span>悪<span class="cand-helpcode">(あく)</span></div>
    </div>
  </div>
  <!--9Anchor-->
  <div class="row-wrapper">
    <div class="row cand">
      <div class="text"><span class="num">9</span>話し<span class="cand-helpcode">(はなし)</span></div>
    </div>
  </div>
</div>
